/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */
// $  west build -d build/left_v2 -p -b nice_nano_v2 -- -DSHIELD="leeloo_rev2_left nice_view_adapter nice_view" -DZMK_CONFIG="boards/shields/leeloo/"
// west build -d build/right_v2 -p -b nice_nano_v2 -- -DSHIELD="leeloo_rev2_right nice_view_adapter nice_view"
// west build -d build/left_v2 -p -b nice_nano_v2 -- -DSHIELD="leeloo_rev2_left nice_view_adapter nice_view"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define BASE       0       // base_layer
#define LOWER      1       // lower_layer
#define RAISE      2       // raise_layer
#define DROID      3       // droid_layer
#define COLDH      4       // coldh_layer

// Key position groups
#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42
#define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 49

// Short versions
// Media / Android
#define APP     &kp K_APP
#define PWR     &kp K_PWR
#define TV      &kp C_MEDIA_TV
#define GUIDE   &kp C_MEDIA_GUIDE
#define SRCH    &kp C_AC_SEARCH
#define SEL     &kp C_MENU_SELECT
#define BACK    &kp C_AC_BACK
#define MUTE    &kp C_MUTE
#define NEXT    &kp C_NEXT
#define PREV    &kp C_PREVIOUS
#define FASTF   &kp C_FAST_FORWARD
#define REW     &kp C_REWIND

// Desktop and tab navigation shortcuts
#define D_LT   LC(LG(LEFT))
#define D_RT   LC(LG(RIGHT))
#define TAB_RT LC(TAB)
#define TAB_LT LC(LS(TAB))

// Undo, Cut, Copy, Paste, Redo 
#define PASTE  &kp LC(V)
#define REDO   &kp LC(LS(Z))
#define SELALL &kp LC(A)
#define SAVE   &kp LC(S)

/ {
    behaviors {
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        aml: alpha_mods_l {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT_L";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L>;
            hold-trigger-on-release;
            global-quick-tap;
        };
        asl: alpha_shift_l {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT_L";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L>;
            hold-trigger-on-release;
        };
        amr: alpha_mods_r {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT_R";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R>;
            hold-trigger-on-release;
            global-quick-tap;
        };
        asr: alpha_shift_r {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT_R";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R>;
            hold-trigger-on-release;
        };
    };
  };

nice_view_spi: &spi0 {
    cs-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>;
    // compatible = "nordic,nrf-spim";
    // pinctrl-0 = <&spi0_default>;
    // pinctrl-1 = <&spi0_sleep>;
    // pinctrl-names = "default", "sleep";
};


/ {

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = " BASE";
            bindings = <
&kp ESC   &kp N1      &kp N2      &kp N3       &kp N4       &kp N5                             &kp N6       &kp N7       &kp N8       &kp N9      &kp N0         &kp BSLH
&kp TAB   &kp Q       &kp W       &kp E        &kp R        &kp T                              &kp Y        &kp U        &kp I        &kp O       &kp P          &kp GRAVE
&kp CAPS  &aml LGUI A &aml LALT S &aml LCTRL D &asl LSHFT F &kp G                              &kp H        &asr RSHFT J &amr RCTRL K &amr RALT L &amr RGUI SEMI &kp SQT
&kp LSHFT &kp Z       &kp X       &kp C        &kp V        &kp B      &kp C_PP    &kp LGUI    &kp N        &kp M        &kp COMMA    &kp DOT     &kp FSLH       &to 3
                                  &kp LCTRL    &kp LALT     &lt 2 RET  &lt 1 MINUS &lt 1 EQUAL &lt 2 SPACE  &kp BSPC     &kp DEL
            >;

             sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        lower_layer {
            label = " Lower";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans                           &kp KP_N7    &kp KP_N8  &kp KP_N9  &kp FSLH         &kp HOME  &none
&trans        &trans        &trans        &trans        &trans        &bootloader                      &kp KP_N4    &kp KP_N5  &kp KP_N6  &kp KP_MULTIPLY  &kp PG_UP &none
&trans        &trans        &trans        &trans        &trans        &sys_reset                       &kp KP_N1    &kp KP_N2  &kp KP_N3  &kp KP_MINUS     &kp PG_DN &none
&trans        &trans        &trans        &trans        &trans        &trans     &trans   &kp KP_ENTER &kp CLEAR2   &kp KP_N0  &kp DOT    &kp KP_PLUS      &kp END   &none
                                          &trans        &bt BT_CLR    &trans     &trans   &trans       &am KP_NUM C_AL_CALC  &trans     &trans
            >;

             sensor-bindings = <&inc_dec_kp C_REWIND C_FAST_FORWARD>;
        };

        raise_layer {
            label = " Raise";
            bindings = <
&kp F1  &kp F2     &kp F3     &kp F4     &kp F5          &kp F6                           &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
&trans  &kp LA(F4) &kp TAB_LT &kp TAB_RT &kp LC(F4)      &kp C_VOL_UP                     &kp HOME   &kp UP     &kp END    &kp PG_UP  &kp LBKT   &kp RBKT
&trans  &kp LCTRL  &kp LGUI   &kp LALT   &am LSHFT TAB   &kp C_VOL_DN                     &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN  &none      &none
&trans  &kp D_LT   &kp D_RT   MUTE       PREV            NEXT       &trans     &trans     &kp K_COPY PASTE      SELALL     &kp K_CUT  &kp K_UNDO REDO
                              &trans     &trans          &trans     &trans     &trans     &trans     &trans     SAVE
            >;

             sensor-bindings = <&inc_dec_kp C_REWIND C_FAST_FORWARD>;
        };

        droid_layer {
            label = " DROID";
            bindings = <
&trans     &trans     &trans     &trans     &trans     &trans                           PWR           APP           &trans        &trans        &trans        SRCH
&trans     &trans     &trans     &trans     &trans     &trans                           &kp HOME      &kp UP        TV            &trans        &trans        &trans
&trans     &trans     &trans     &trans     &trans     &trans                           &kp LEFT      SEL           &kp RIGHT     MUTE          PREV          NEXT  
&trans     &trans     &trans     &trans     &trans     &trans     &kp C_PP   &kp LGUI   BACK          &kp DOWN      GUIDE         &trans        &trans        &to 4
                             &kp LCTRL   &kp LALT  &lt 2 RET  &lt 1 MINUS    &lt 1 EQUAL  &lt 2 SPACE  &kp BSPC   &kp DEL
            >;

             sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        coldh_layer {
            label = " COL-DH";
            bindings = <
&kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                           &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BSLH
&kp TAB    &kp Q      &kp W      &kp F      &kp P      &kp B                            &kp J      &kp L      &kp U      &kp Y      &kp SEMI   &kp GRAVE
&kp CAPS   &kp A      &kp R      &kp S      &kp T      &kp G                            &kp M      &kp N      &kp E      &kp I      &kp O      &kp SQT
&kp LSHFT  &kp Z      &kp X      &kp C      &kp D      &kp V     &kp C_PP    &kp LGUI   &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH   &to 0
                             &kp LCTRL   &kp LALT  &lt 2 RET  &lt 1 MINUS    &lt 1 EQUAL  &lt 2 SPACE  &kp BSPC   &kp DEL
            >;

             sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
